
body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("kcp-dog2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header, .intro {
    padding-bottom: 10%;
    padding-top: 30px;
    padding-right: 2%;
    text-align: right;
    letter-spacing: 2px;
  }

  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;

  }

  a {
      color: black;
  }

  a:link {
    color: black;
    text-decoration: none;

  }
  
  /* visited link */
  a:hover {
    color: gray;
  }
  

  /* portfolio css starts here */
  .title {
    padding-top: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
  }

  .title-two {
    padding-top: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font: 20px;
  }

  .navbar {

    padding-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
  }

  h3 {
    letter-spacing: 10px;
    font-size: 15px;
    
  }
  h4 {
    letter-spacing: 5px;
    font-size: 5px;
    font-family: 'Open Sans', sans-serif;
    
  }

  #content {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
      height: 80px;
      padding: 10px; /* this */
    
  }

  .people, .pets, .places {
    margin-top: 25px;
    text-align: center;
    width: 200px;
    height: 50px;
  }

  hr{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  /* IMAGE GALLERY */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    height: 500px;
    width: 80%;
    margin: auto;
    overflow: scroll;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    overflow: scroll;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* FOOTER */

  #footer {
    padding-top: 30px;
    margin-bottom: 200px;
    height: 120px;
    width: 80%;
    margin: auto;
    background-color: rgb(203, 202, 202);
    /* font-family: 'Open Sans', sans-serif; */
    text-align: center;
    /* letter-spacing: 10px;
    font-size: 15px; */
  }
#person-info {
  background-color: rgb(203, 202, 202);
  width: 80%;
  margin: auto;
  padding-bottom: 20px; 

}
form{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding-bottom: 20px; 
 }
 
 input[type=text], select{
  padding: 12px 20px;
  margin-right: 5px;
  border-radius: 5px;
  letter-spacing: 5px;
  font-size: 5px;
  border-color: grey;
  font-family: 'Open Sans', sans-serif
 }

 input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif
}

 .wsite {
   text-align: right;
   padding-top: 20px;
   padding-bottom: 50px;
   letter-spacing: 5px;
   font-size: 5px;
   font-family: 'Open Sans', sans-serif;
 }