
body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("kcp-dog2.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header, .intro {
    padding-bottom: 20%;
    padding-top: 30px;
    padding-right: 2%;
    text-align: right;
    letter-spacing: 2px;
  }

  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;

  }

  a:link {
    color: white;
    text-decoration: none
  }
  
  /* visited link */
  a:hover {
    color: gray;
  }
  

  /* portfolio css starts here */
  .title {
    padding-top: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
  }

  .title-two {
    padding-top: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font: 20px;
  }

  .navbar {
    padding-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
  }

  h3 {
    letter-spacing: 10px;
    font-size: 15px;
  }